// ==========================================================================
// Links Atom
// ==========================================================================

/*doc
---
title: Links
name: links
category: atoms
---

Use a plain anchor, or apply within a block link using `.link--fake`

```html_example
    <a href="#">A plain link</a>
```

```html_example
    <a href="#" class="link--block">
        <h1>title</h1>
        <span class="link--fake">Fake link</span>
    </a>
```
*/

@import "tool-palette";
@import "tool-link";

a,
.link--fake {
    color: palette(teal);
    text-decoration: none;
    // @include underline(transparentize(palette(pink), 0.6));

    @include link-hover() {
        // @include underline(palette(pink));
    }
}

a.u-text-color--black {
    // @include underline(transparentize(black, 0.4));

    @include link-hover() {
        // @include underline(black);
    }
}


/*doc
---
title: Block links
name: links_block
parent: links
---

Use `.link--block` to force block level links

```html_example
    <a href="#" class="link--block">A block level link</a>
```
*/

.link--block {
    display: block;
}

/*doc
---
title: Plain links
name: links_plain
parent: links
---

Use `.link--plain` for links where you don't want default link styles

```html_example
    <a href="#" class="link--plain">A plain link</a>
```
*/

.link--plain {
    @include link-plain();
}
